<%- include('../partials/header') %>

<div class="container center">
    <h2>All <%= username %>'s Places</h2>
    <hr>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Common Name</th>
                <th scope="col">Capital</th>
                <th scope="col">Region</th>
                <th scope="col">Population</th>
                <th scope="col">Flag</th>
            </tr>
        </thead>
    </table>
</div>


<%- include('../partials/footer') %>